@import url('https://fonts.googleapis.com/css?family=Roboto');
 .nav-tab {
     font-family: 'Roboto', sans-serif;
     background-color: #fff;
     display: inline-block;
     padding: 10px 25px;
     color: rgb(124, 124, 124);
     border-bottom: 1px solid rgb(190, 188, 188);
     border-radius: 30%;
     text-decoration: none;
}
 .nav-tab:hover {
     background-color: oldlace;
     text-decoration: none;
}
 .nav-tab.active {
     background-color: #fff;
     color: #555;
     border: 1px solid #ddd;
     border-top: 2px solid orange;
     border-bottom: 1px solid #fff;
     cursor: default;
     text-decoration: none;
}
