#app {
    font-family: 'Mina', sans-serif;
    margin: 20px;
}
header {
    margin-bottom: 30px;
}
strong {
    font-weight: 700;
}
.inline-link {
    color: hotpink;
    text-decoration: none;
}
.nav-list {
    list-style: none;

}
.nav-list-item {
    display: inline;
    color: black;
    padding: 0 10px 10px 0;
}
.nav-link {
    color: black;
    text-decoration: none;
}
.nav-link.active {
    color: hotpink 
}
.central {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.background{

}
.title{
color: #E74C3C; 
font-family: 'Raleway', sans-serif; 
font-size: 50px; 
font-weight: 800; 
line-height: 72px; 
margin: 0 0 24px; 
text-align: center; 
text-transform: uppercase; 
}
.pollution{
  background-repeat:  no-repeat;
  background-size: cover;
}
.home p { 
    color: black; 
    font-size: 25px; 
}
mark {
background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}